In [40]:
#Import libraries 
import arcpy 
import pandas as pd
import numpy as np

In [41]:
#Connect to workspace
arcpy.env.workspace = "G:\SSCI575_Projects\Project2_dataset.gdb\Project2_dataset.gdb"

In [42]:
#List all the features classes in the geodatabase
arcpy.ListFeatureClasses()

['kc_house_data']

In [43]:
#list all the fields in the dataset
for i in range(len(arcpy.ListFields('kc_house_data'))):
    print(arcpy.ListFields('kc_house_data')[i].name)

OBJECTID
Shape
id
date
price
bedrooms
bathrooms
sqft_living
sqft_lot
floors
waterfront
view
condition
grade
sqft_above
sqft_basement
yr_built
yr_renovated
zipcode
lat
long
sqft_living15
sqft_lot15

In [44]:
#Read shapefile and add all values to a dataframe
shapefile_path = 'kc_house_data'
fields = [f.name for f in arcpy.ListFields(shapefile_path)]
rows = []

with arcpy.da.SearchCursor(shapefile_path, fields) as cursor:
    for row in cursor:
        rows.append(row)

In [45]:
#Save the dataframe as df
df = pd.DataFrame(rows, columns=fields)
df

       OBJECTID  ... sqft_lot15
0             1  ...       5650
1             2  ...       7639
2             3  ...       8062
3             4  ...       5000
4             5  ...       7503
...         ...  ...        ...
21608     21609  ...       1509
21609     21610  ...       7200
21610     21611  ...       2007
21611     21612  ...       1287
21612     21613  ...       1357

[21613 rows x 23 columns]

In [46]:
#Get correlation matrix to investigate which attributes are highly correlated to house price
matrix = df.corr()
matrix

               OBJECTID        id  ...  sqft_living15  sqft_lot15
OBJECTID       1.000000  0.006718  ...       0.026647   -0.029827
id             0.006718  1.000000  ...      -0.002901   -0.138798
price          0.027372 -0.016762  ...       0.585379    0.082447
bedrooms       0.010794  0.001286  ...       0.391638    0.029244
bathrooms      0.107334  0.005160  ...       0.568634    0.087175
sqft_living    0.044717 -0.012258  ...       0.756420    0.183286
sqft_lot      -0.026877 -0.132109  ...       0.144608    0.718557
floors         0.179138  0.018525  ...       0.279885   -0.011269
waterfront    -0.007611 -0.002721  ...       0.086463    0.030703
view          -0.013751  0.011592  ...       0.280439    0.072575
condition     -0.095419 -0.023783  ...      -0.092824   -0.003406
grade          0.082050  0.008130  ...       0.713202    0.119248
sqft_above     0.071958 -0.010842  ...       0.731870    0.194050
sqft_basement -0.041841 -0.005151  ...       0.200355    0.017276
yr_built       0.199549  0.021380  ...       0.326229    0.070958
yr_renovated  -0.025601 -0.016907  ...      -0.002673    0.007854
zipcode       -0.002199 -0.008224  ...      -0.279033   -0.147221
lat            0.000701 -0.001891  ...       0.048858   -0.086419
long           0.008649  0.020799  ...       0.334605    0.254451
sqft_living15  0.026647 -0.002901  ...       1.000000    0.183192
sqft_lot15    -0.029827 -0.138798  ...       0.183192    1.000000

[21 rows x 21 columns]

In [47]:
#Evaluate all the attributes highly correlated to price
corr_price = matrix['price']
corr_price

OBJECTID         0.027372
id              -0.016762
price            1.000000
bedrooms         0.308350
bathrooms        0.525138
sqft_living      0.702035
sqft_lot         0.089661
floors           0.256794
waterfront       0.266369
view             0.397293
condition        0.036362
grade            0.667434
sqft_above       0.605567
sqft_basement    0.323816
yr_built         0.054012
yr_renovated     0.126434
zipcode         -0.053203
lat              0.307003
long             0.021626
sqft_living15    0.585379
sqft_lot15       0.082447
Name: price, dtype: float64

In [48]:
#Filter for highly correlated values
highly_corr_attributes = corr_price[abs(corr_price) > 0.5].index

In [49]:
#Create a new dataframe from highly correlated attributes
df_highly_corr = df[highly_corr_attributes]

In [50]:
#Find r-squared values from highly correlated attributes
r_squared = df_highly_corr.corr() ** 2
r_squared

                  price  bathrooms  ...  sqft_above  sqft_living15
price          1.000000   0.275769  ...    0.366712       0.342668
bathrooms      0.275769   1.000000  ...    0.469694       0.323345
sqft_living    0.492853   0.569520  ...    0.768422       0.572172
grade          0.445468   0.442202  ...    0.571419       0.508657
sqft_above     0.366712   0.469694  ...    1.000000       0.535634
sqft_living15  0.342668   0.323345  ...    0.535634       1.000000

[6 rows x 6 columns]

In [51]:
multicol_vals = r_squared[abs(r_squared) > 0.5].index
multicol_vals

Index(['price', 'bathrooms', 'sqft_living', 'grade', 'sqft_above',
       'sqft_living15'],
      dtype='object')

In [52]:
# Set your threshold
threshold = 0.75

# Find and print collinear pairs
for i in range(len(r_squared.columns)):
    for j in range(i+1, len(r_squared.columns)):
        if r_squared.iloc[i, j] > threshold:
            print(f"{r_squared.columns[i]} and {r_squared.columns[j]}: R² = {r_squared.iloc[i, j]:.2f}")

sqft_living and sqft_above: R² = 0.77

In [53]:
#Read shapefile and add all values to a dataframe for high house price clusters
shapefile_path = 'kc_house_data_highprice'
fields = [f.name for f in arcpy.ListFields(shapefile_path)]
rows = []

with arcpy.da.SearchCursor(shapefile_path, fields) as cursor:
    for row in cursor:
        rows.append(row)

In [54]:
#Save the dataframe as df for high house price clusters
highprice_df = pd.DataFrame(rows, columns=fields)
highprice_df

     OBJECTID                                      Shape  ...  Id_1  gridcode
0           1  (-122.34799999999996, 47.416900000000055)  ...    58         1
1           2   (-121.90499999999997, 47.50160000000005)  ...    57         1
2           3   (-122.20499999999998, 47.52830000000006)  ...    54         1
3           4  (-122.20499999999998, 47.528500000000065)  ...    54         1
4           5   (-122.21999999999997, 47.52870000000007)  ...    53         1
..        ...                                        ...  ...   ...       ...
201       202   (-122.37199999999996, 47.72950000000003)  ...     5         1
202       203   (-122.36999999999995, 47.72960000000006)  ...     5         1
203       204   (-122.36999999999995, 47.73130000000003)  ...     5         1
204       205  (-122.36199999999997, 47.733400000000074)  ...     4         1
205       206   (-122.27999999999997, 47.74930000000006)  ...     1         1

[206 rows x 27 columns]

In [55]:
#Get correlation matrix to investigate which attributes are highly correlated to house price
matrix = highprice_df.corr()
matrix

                      OBJECTID  FID_kc_house_data  ...      Id_1  gridcode
OBJECTID              1.000000          -0.147540  ... -0.689768       NaN
FID_kc_house_data    -0.147540           1.000000  ...  0.073158       NaN
id                   -0.011098          -0.146053  ...  0.021832       NaN
price                 0.016389          -0.131195  ... -0.010785       NaN
bedrooms              0.032665           0.068783  ... -0.048218       NaN
bathrooms            -0.058985           0.076122  ... -0.011988       NaN
sqft_living          -0.016779          -0.048718  ... -0.039693       NaN
sqft_lot             -0.103410          -0.005324  ...  0.091347       NaN
floors                0.020972           0.074126  ... -0.008468       NaN
waterfront           -0.082023          -0.094300  ... -0.009282       NaN
view                 -0.132940          -0.038316  ... -0.107131       NaN
condition             0.032868          -0.119460  ... -0.059530       NaN
grade                -0.021670           0.059506  ... -0.071633       NaN
sqft_above           -0.015854           0.005984  ... -0.040427       NaN
sqft_basement        -0.007926          -0.110104  ... -0.013856       NaN
yr_built             -0.173863           0.229304  ...  0.005631       NaN
yr_renovated          0.069094          -0.006751  ... -0.022480       NaN
zipcode               0.294086          -0.138201  ... -0.286120       NaN
lat                   0.913537          -0.106364  ... -0.824220       NaN
long                 -0.367314           0.135399  ...  0.335481       NaN
sqft_living15        -0.129066          -0.008541  ...  0.107534       NaN
sqft_lot15           -0.058385          -0.018592  ...  0.036994       NaN
FID_RasterT_Extract1 -0.689768           0.073158  ...  1.000000       NaN
Id_1                 -0.689768           0.073158  ...  1.000000       NaN
gridcode                   NaN                NaN  ...       NaN       NaN

[25 rows x 25 columns]

In [56]:
#Evaluate all the attributes highly correlated to price
corr_price_highprice = matrix['price']
corr_price_highprice

OBJECTID                0.016389
FID_kc_house_data      -0.131195
id                      0.112857
price                   1.000000
bedrooms                0.384827
bathrooms               0.663274
sqft_living             0.745850
sqft_lot                0.014433
floors                  0.232569
waterfront              0.340361
view                    0.311506
condition              -0.118556
grade                   0.616815
sqft_above              0.676547
sqft_basement           0.399489
yr_built                0.215657
yr_renovated            0.057661
zipcode                -0.041082
lat                     0.036273
long                    0.054116
sqft_living15           0.246058
sqft_lot15              0.027030
FID_RasterT_Extract1   -0.010785
Id_1                   -0.010785
gridcode                     NaN
Name: price, dtype: float64

In [57]:
#Filter for highly correlated values
highly_corr_attributes = corr_price_highprice[abs(corr_price_highprice) > 0.5].index
highly_corr_attributes

Index(['price', 'bathrooms', 'sqft_living', 'grade', 'sqft_above'], dtype='object')